
<!-- <div class="container">

     <form class="well form-horizontal" action=" " method="post"  id="contact_form">
     <fieldset>

    <div class="form-group">
        <label class="col-md-4 control-label">Name of the project</label>
        <label class="col-md-4 control-label">{{newProject.name}}</label>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" >Link with files</label>
      <label class="col-md-4 control-label" >{{newProject.link}}</label>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" >Link with files</label>
      <label class="col-md-4 control-label">{{newProject.professional}}</label>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Description</label>
        <label class="col-md-4 control-label">{{newProject.description}}</label>
    </div>

    <div class="form-group">
        <label  class="col-md-4 control-label">Special considerations</label>
        <label  class="col-md-4 control-label">{{newProject.considerations}}</label>
    </div>


       </fieldset>
      </form>
 </div> -->
