
<div class="container">

     <form class="well form-horizontal" action=" " method="post"  id="contact_form">
     <fieldset>

    <div class="form-group">
        <label class="col-md-4 control-label">Name of the project</label>
        <label class="col-md-4 control-label">{{project.name}}</label>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" >Link with files</label>
      <label class="col-md-4 control-label" >{{project.link}}</label>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" >Professioal</label>
      <label class="col-md-4 control-label">{{project.professional}}</label>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Description</label>
        <label class="col-md-4 control-label">{{project.description}}</label>
    </div>

    <div class="form-group">
        <label  class="col-md-4 control-label">Special considerations</label>
        <label  class="col-md-4 control-label">{{project.considerations}}</label>
    </div>


       </fieldset>
      </form>
 </div>
