.dashboard-nav {
  border-bottom: none;
  background: white;
}

.professionals-brand {
  color: black;
}

.banner {
  background-image: url("../../assets/images/architecture.jpg");
  margin-bottom: 0;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

label {
  text-align: center;
}

#project_form{
  margin-top: -32rem;
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 60%;
}

.project-form-bottom {
  text-align: center;
}

.uploader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader {
  margin: 1rem auto;
  text-align: center;
}

.submit-button-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.project-submit-button {
  margin: 1rem auto;
  text-align: center;
}

#lower-banner {
  margin-top: -34rem;
}
.current-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.current-image-label {
  text-align: center;
  padding-bottom: 1rem;
}

.uploader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-image-label {
  text-align: center;
}
figure {
  width: 100%;
  height: 160px;
}
.project-image {
  width: 40%;
  margin-left: 1rem;
  /*display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;*/
}
/*input[type="checkbox"] { display: none; }
input:checked + figure img {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;
  width: 400px;
  height: auto;
  margin: 0 0 0 -200px;
}
input:checked + figure:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}
label {
  display: block;
  cursor: pointer;
}*/
