<nav class="navbar navbar-default dashboard-nav">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click) = "iscolapse= !iscolapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand professionals-brand"><span>3dprofessionals</span></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" [collapse]="iscolapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['login']">Login</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="goToDashboard()">Dashboard</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['signup']">Signup</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>


<h1 *ngIf="project.changeStatus === 'SOME CHANGES PLEASE' && project.changeStatus !== 'FINISHED'"> Hi {{professional.name}}, some changes please!</h1>
<h1 *ngIf="project.changeStatus === 'FINISHED'">Project {{project.name}} finished!</h1>

<section class="banner"></section>
<main>
  <section class="project-form-container">
    <form class="well form-horizontal" action=" " method="post"  id="project_form">
     <fieldset>

    <div class="form-group">
        <label class="control-label label-title">Name of the project : </label>
        <label class="control-label">{{project.name}}</label>
    </div>

    <div class="form-group">
      <label class=" control-label label-title" >Link with files : </label>
      <label class="control-label" >{{project.link}}</label>
    </div>

    <div class="form-group">
      <label class=" control-label label-title" >Professional : </label>
      <label class=" control-label">{{professional.name}}</label>
    </div>

    <div class="form-group">
      <label class=" control-label label-title" >Client : </label>
      <label class=" control-label">{{client.name}}</label>
    </div>

    <div class="form-group">
        <label class="control-label label-title">Description : </label>
        <label class=" control-label">{{project.description}}</label>
    </div>

    <div class="form-group">
        <label  class="control-label label-title">Special considerations : </label>
        <label  class="control-label">{{project.considerations}}</label>
    </div>


    <div class="form-group">
        <label  class="control-label label-title">Changes to update :</label>
        <label  class="control-label">{{project.changeDescription}}</label>
    </div>


    <div *ngIf="project.image!== ''"  class="form-group current-image-container">
      <div class="current-image-label">
        <label  class="control-label">Current image : </label>
      </div>
      <label>
            <input type="checkbox" />
            <figure>
              <img class="img-responsive" src="http://localhost:3000/{{project.image}}" alt="project image" />
            </figure>
      </label>
        <!-- <img  class="img-responsive project-image" src= "http://localhost:3000/{{project.image}}"> -->

    </div>

    </fieldset>

    <fieldset class="uploader-container">

      <label *ngIf="user.role === 'PROFESSIONAL'" class="control-label upload-image-label">Upload image : </label>
      <input *ngIf="user.role === 'PROFESSIONAL'" type="file" name="file" class="uploader" ng2FileSelect [uploader]="uploader" />

    </fieldset>
    <div class="submit-button-container">
      <button *ngIf="user.role === 'PROFESSIONAL'" (click)="submit()" class="btn btn-primary project-submit-button"> Upload Image </button>
    </div>

    <div class="submit-button-container">


      <button *ngIf="user.role === 'CLIENT' && project.changeStatus !== 'FINISHED'"  (click)="acceptProject()" class="btn btn-primary project-submit-button"> ACCEPT </button>
    </div>
    <div class="submit-button-container">
      <button *ngIf="user.role === 'CLIENT' && project.changeStatus !== 'FINISHED'" (click)="deleteProject()" class="btn btn-danger project-submit-button"> DELETE </button>
    </div>
    <div class="submit-button-container">
      <div class="input-group">
      <input *ngIf="user.role === 'CLIENT' && project.changeStatus !== 'FINISHED'" name="changeDescription" placeholder="ask for changes" [(ngModel)]="newProject.changeDescription"  class="form-control"  type="text">
      <input *ngIf="user.role === 'CLIENT' && project.changeStatus !== 'FINISHED'" name="changeStatus"[(ngModel)]="newProject.changeStatus"  class="form-control"  type="hidden">

      </div>
      <button (click)="askChanges()" *ngIf="user.role === 'CLIENT' && project.changeStatus !== 'FINISHED'"  class="btn btn-primary project-submit-button"  > ASK FOR CHANGES</button>
    </div>

  </form>
</section>
</main>

<section class="banner" id="lower-banner"></section>

    <!-- <label *ngIf="project.user.role === 'PROFESSIONAL'">Upload project</label> -->
   <footer>
   <div class="container">
   <div class="row">
   <div class="col-md-3 col-sm-6 footer-col">
     <div class="logofooter">Recent post</div>
     <p>Affogato hot chicken fingerstache pickled sriracha woke humblebrag stumptown, intelligentsia letterpress iceland raclette. Adaptogen poutine fashion axe leggings lo-fi trust fund.</p>
     <p><i class="fa fa-map-pin"></i> #4, Liliha Street, Honolulu, Hawaii, United States</p>
     <p><i class="fa fa-phone"></i> Phone : +1 808 999 999</p>
     <p><i class="fa fa-envelope"></i> E-mail : info@3dprofessionals.com</p>

   </div>
   <div class="col-md-3 col-sm-6 footer-col">
     <h6 class="heading7">BLOG</h6>
       Lorem ipsum
       <hr>
       Lorem ipsum dolor
       <hr>
       Lorem ipsum
       <hr>
       Lorem ipsum dolor
       <hr>
   </div>
   <div class="col-md-3 col-sm-6 footer-col">
     <h6 class="heading7">ARCHIVES</h6>
     <div class="post">
       <p>Raclette chambray neutra austin, normcore biodiesel 3 wolf moon heirloom selfies <span>May 30,2017</span></p>
       <p>Lo-fi pabst man bun hashtag pinterest, hell of lumbersexual af seitan pop-up church-key tattooed jianbing <span>May 29,2017</span></p>
       <p>Affogato brunch stumptown, butcher meh pok pok tattooed vice next level tacos church-key tofu swag <span>May 28,2017</span></p>
     </div>
   </div>
   <div class="col-md-3 col-sm-6 footer-col">
     <h6 class="heading7">Social Media</h6>
     <ul class="footer-social">
       <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
       <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
       <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
       <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
     </ul>
   </div>
   </div>
   </div>
   </footer>
