.dashboard-nav {
  border-bottom: none;
  background: white;
}

.professionals-brand {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
}
.container-home-custom{
  padding: 0px;
  border-radius: 0px;
}

nav .glyphicon-user {
  float:right;
  font-size: 3rem;
}

nav .glyphicon-off {
  float: left;
  font-size: 3rem;
}

.banner {
  background-image: url("../../assets/images/architecturer.jpg") ;
  margin-bottom: 0;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannir {
  background-image: url("../../assets/images/architecture.jpg") ;
  margin-bottom: 0;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  margin-top: 20px;
  color: white;
}

.title-box {
  margin-top: 20px;

}

.subtitle {
  margin-top: 20px;
  text-shadow: 0 1px 3px #0f0f0f;
}

h2 a {
  color: white;
}

h2 a:hover, h2 a:active {
  text-decoration: none;
  color: white;
}

form {
  margin-top: 1rem;
}

.select-prof-div {
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}
.select-prof {
  padding: 1rem;
  color: #606060;
}

.projects {
  margin-top: 1rem;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  background: #F5F5F5;
}

.project-name-div label {
  padding-bottom: 1rem;
  color: #007BB6;
}

.project-button {
  padding: 5rem;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  background: rgba(179, 188, 199, 0.3);
  border-style:ridge;
  border-color: #E8E8E8;
  color: #3B5998;
  box-shadow: 2px 2px 5px #888888;
  margin-bottom: 2rem;
  border-radius: 6px;
}
