
  <div id="upper-border"></div>
<div class="container-fluid container-home-custom">

<div id="top-div">
	<div class="col-md-3 col-md-offset-4">
		<div class="panel panel-default" id="login-panel">
		  <div class="panel-body">
		    <form class="well">
		      <div class="form-group">
		        <label for="InputEmail">Email</label>
		        <input type="email" class="form-control" id="InputEmail" placeholder="Email" [(ngModel)]="user.email" name="email" required="true">
		      </div>
		      <div class="form-group">
		        <label for="InputPassword">Password</label>
		        <input type="password" class="form-control" id="InputPassword" placeholder="Password" [(ngModel)]="user.password" name="password" required="true">
		      </div>
		      <button type="submit" class="btn btn-primary" (click)="login()">Log in</button>
          <a href="/signup">Sign up</a>
		    </form>
				<!-- <div>{{error}}</div> -->
		  </div>
		</div>
	</div>
</div>

<br><br>
<footer>
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6 footer-col">
  <div class="logofooter">Recent post</div>
  <p>Affogato hot chicken fingerstache pickled sriracha woke humblebrag stumptown, intelligentsia letterpress iceland raclette. Adaptogen poutine fashion axe leggings lo-fi trust fund.</p>
  <p><i class="fa fa-map-pin"></i> #4, Liliha Street, Honolulu, Hawaii, United States</p>
  <p><i class="fa fa-phone"></i> Phone : +1 808 999 999</p>
  <p><i class="fa fa-envelope"></i> E-mail : info@3dprofessionals.com</p>

</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">BLOG</h6>
    Lorem ipsum
    <hr>
    Lorem ipsum dolor
    <hr>
    Lorem ipsum
    <hr>
    Lorem ipsum dolor
    <hr>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">ARCHIVES</h6>
  <div class="post">
    <p>Raclette chambray neutra austin, normcore biodiesel 3 wolf moon heirloom selfies <span>May 30,2017</span></p>
    <p>Lo-fi pabst man bun hashtag pinterest, hell of lumbersexual af seitan pop-up church-key tattooed jianbing <span>May 29,2017</span></p>
    <p>Affogato brunch stumptown, butcher meh pok pok tattooed vice next level tacos church-key tofu swag <span>May 28,2017</span></p>
  </div>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">Social Media</h6>
  <ul class="footer-social">
    <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
    <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
  </ul>
</div>
</div>
</div>
</footer>
