<nav class="navbar navbar-default dashboard-nav">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click) = "iscolapse= !iscolapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand professionals-brand"><span>3dprofessionals</span></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" [collapse]="iscolapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['login']">Login</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="goToDashboard()">Dashboard</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="goToProfile()">Profile</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['signup']">Signup</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>

<div id="upper-border"><h1 class="text-center">Edit profile</h1></div>

<div class="container-fluid">
      <div class="row profile-row">
        <div class="jumbotron banner">
          <div class="row">
           <div class="col-md-12 text-center edit-profile-container">


              <form class="well form-horizontal" method="post"  id="edit-profile-form">
               <fieldset>


              <!-- Text input-->

              <div class="form-group">
                  <label class="col-md-4 control-label">Name</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="name" placeholder="{{user.name}}" class="form-control" [(ngModel)]="user.name" type="text">
                  </div>
                </div>
              </div>

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label" >Surname</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="surname" placeholder="{{user.surname}}" class="form-control" [(ngModel)]="user.surname" type="text">
                  </div>
                </div>
              </div>


              <!-- <div class="form-group">
                <label class="col-md-4 control-label">Role</label>
                <div class="col-md-4 selectContainer">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                      <select name="role" class="form-control selectpicker" [(ngModel)]="user.role">
                        <option>Client</option>
                        <option>Professional</option>
                    </select>
                  </div>
                </div>
              </div> -->

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label" >Password</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="user_password" placeholder="Password" class="form-control" [(ngModel)]="user.password" type="password">
                  </div>
                </div>
              </div>

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label" >Confirm Password</label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="confirm_password" placeholder="Confirm Password" class="form-control" [(ngModel)]="user.password" type="password">
                  </div>
                </div>
              </div>

              <!-- Text input-->
                <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                  <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail Address" class="form-control" [(ngModel)]="user.email" type="text">
                    </div>
                  </div>
                </div>


              <!-- Success message -->
               <!-- <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div> -->

              <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-4"><br>
             <button type="button" class="btn btn-primary" (click)="saveProfile()">Save</button>
                  </div>
                </div>

                 </fieldset>
                </form>
   </div>

          </div>
        </div>
  </div><!-- row -->
</div><!-- container -->


<br><br>
<footer>
  <div class="container">
  <div class="row">
  <div class="col-md-3 col-sm-6 footer-col">
    <div class="logofooter">Recent post</div>
    <p>Affogato hot chicken fingerstache pickled sriracha woke humblebrag stumptown, intelligentsia letterpress iceland raclette. Adaptogen poutine fashion axe leggings lo-fi trust fund.</p>
    <p><i class="fa fa-map-pin"></i> #4, Liliha Street, Honolulu, Hawaii, United States</p>
    <p><i class="fa fa-phone"></i> Phone : +1 808 999 999</p>
    <p><i class="fa fa-envelope"></i> E-mail : info@3dprofessionals.com</p>

  </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <h6 class="heading7">BLOG</h6>
        Lorem ipsum
        <hr>
        Lorem ipsum dolor
        <hr>
        Lorem ipsum
        <hr>
        Lorem ipsum dolor
        <hr>
    </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <h6 class="heading7">ARCHIVES</h6>
      <div class="post">
        <p>Raclette chambray neutra austin, normcore biodiesel 3 wolf moon heirloom selfies <span>May 30,2017</span></p>
        <p>Lo-fi pabst man bun hashtag pinterest, hell of lumbersexual af seitan pop-up church-key tattooed jianbing <span>May 29,2017</span></p>
        <p>Affogato brunch stumptown, butcher meh pok pok tattooed vice next level tacos church-key tofu swag <span>May 28,2017</span></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 footer-col">
      <h6 class="heading7">Social Media</h6>
      <ul class="footer-social">
        <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
        <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
        <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
 </div>
</footer>
