.dashboard-nav {
  border-bottom: none;
  background: white;
}

.main-container {
  margin-bottom: -4rem;
}

.edit-profile-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

#edit-profile-form {
  background-color: rgba(255, 255, 255, 0.3);
  width: 50%;
  text-align: center;
  border-radius: 6px;
}

.professionals-brand {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
}

nav .glyphicon-home {
  float:right;
  font-size: 3rem;
}

nav .glyphicon-off {
  float: left;
  font-size: 3rem;
}

.upper-border {
  height: 50px;
}

.banner {
  background-image: url("../../assets/images/architecturer.jpg") ;
  margin-bottom: 0;
  height: 150%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannir {
  background-image: url("../../assets/images/architecture.jpg") ;
  margin-bottom: 0;
  height: 150%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.uploader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.upload-image-label, .uploader-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#file-upload {
  display: none;
}

#save-photo {
  margin-top: 1rem;
}
