.edit-profile-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

#edit-profile-form {
  background-color: rgba(255, 255, 255, 0.1);
  width: 50%;
  text-align: center;
}

.professionals-brand {
  color: black;
}

a:hover, a:active {
  text-decoration: none;
}

nav .glyphicon-home {
  float:right;
  font-size: 3rem;
}

nav .glyphicon-off {
  float: left;
  font-size: 3rem;
}

.upper-border {
  height: 50px;
}

.banner {
  background-image: url("../../assets/images/architecture.jpg");
}
