  <div id="upper-border"></div>
<div class="container-fluid  container-home-custom">


  <div class="jumbotron banner">
    <div class="row">
      <div class="col-md-12 title text-center">
        <h1>3dprofessionals <span class="subtitle"> rock</span></h1>
        <h2><a href="/login"><span class="subtitle">Log in</span></a></h2>
        <h2>or</h2>
        <h2><a href="/signup"><span class="subtitle">Sign up</span></a></h2>
      </div>
    </div>
  </div>
</div>

<div class="content-fluid back-grey">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
          <div class="col-md-4">

            <h3 class="text-center">Set up your profile</h3>
            <hr>
            <p class="text-justify">Sign up on our platform and set up your profile. Register as a client. Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation. </p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center" >Add your project</h3>
            <hr>
              <p class="text-justify">Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation. </p>
          </div>
          <div class="col-md-4">

            <h3 class="text-center">Accept or decline the professional's offer</h3>
            <hr>
            <p class="text-justify">Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation.</p>
          </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<br><br>
      <div class="content-fluid back-black">
        <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8">
              <div class="row">
                <div class="col-md-3">

                  <h6>RECENT POST</h6>
                  Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation.
                </div>
                <div class="col-md-3">

                  <h6>BLOG</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>META</h6>
                  Lorem ipsum
                  <hr>
                </div>
                <div class="col-md-3">

                  <h6>ARCHIVES</h6>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                  Lorem ipsum
                  <hr>
                  Lorem ipsum dolor
                  <hr>
                </div>

              </div>
          </div>
          <div class="col-xs-2"></div>
        </div>
      </div>
