  <div id="upper-border"></div>
<div class="container-fluid  container-home-custom">


  <div class="jumbotron banner">
    <div class="row">
      <div class="col-md-12 title text-center">
        <h1>3dprofessionals <span class="subtitle"> rock</span></h1>
        <h2><a href="/login"><span class="subtitle">Log in</span></a></h2>
        <h2>or</h2>
        <h2><a href="/signup"><span class="subtitle">Sign up</span></a></h2>
      </div>
    </div>
  </div>
</div>

<div class="content-fluid back-grey">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="row">
          <div class="col-md-4">

            <h3 class="text-center">Set up your profile</h3>
            <hr>
            <p class="text-justify">Sign up on our platform and set up your profile. Register as a client. Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation. </p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center" >Add your project</h3>
            <hr>
              <p class="text-justify">Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation. </p>
          </div>
          <div class="col-md-4">

            <h3 class="text-center">Accept or decline the professional's offer</h3>
            <hr>
            <p class="text-justify">Plaid polaroid green juice actually listicle, heirloom waistcoat 90's YOLO aesthetic beard. Yuccie prism forage, knausgaard hammock cred gochujang slow-carb bitters pickled kinfolk ennui truffaut meditation.</p>
          </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>

<br><br>
<footer>
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6 footer-col">
  <div class="logofooter">Recent post</div>
  <p>Affogato hot chicken fingerstache pickled sriracha woke humblebrag stumptown, intelligentsia letterpress iceland raclette. Adaptogen poutine fashion axe leggings lo-fi trust fund.</p>
  <p><i class="fa fa-map-pin"></i> #4, Liliha Street, Honolulu, Hawaii, United States</p>
  <p><i class="fa fa-phone"></i> Phone : +1 808 999 999</p>
  <p><i class="fa fa-envelope"></i> E-mail : info@3dprofessionals.com</p>

</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">BLOG</h6>
  <ul class="footer-ul">
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
    <li><a href="#"> Hipster Ipsum</a></li>
  </ul>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">ARCHIVES</h6>
  <div class="post">
    <p>Raclette chambray neutra austin, normcore biodiesel 3 wolf moon heirloom selfies <span>May 30,2017</span></p>
    <p>Lo-fi pabst man bun hashtag pinterest, hell of lumbersexual af seitan pop-up church-key tattooed jianbing <span>May 29,2017</span></p>
    <p>Affogato brunch stumptown, butcher meh pok pok tattooed vice next level tacos church-key tofu swag <span>May 28,2017</span></p>
  </div>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">Social Media</h6>
  <ul class="footer-social">
    <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
    <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
  </ul>
</div>
</div>
</div>
</footer>
