<nav class="navbar navbar-default dashboard-nav">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click) = "iscolapse= !iscolapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand professionals-brand"><span>3dprofessionals</span></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" [collapse]="iscolapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['login']">Login</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="goToDashboard()">Dashboard</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['signup']">Signup</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>
<div class="container-fluid">
      <div class="row profile-row">
        <div class="jumbotron banner">
          <div class="row profile-container">
            <div class="col-md-12 profile-info text-center">
                <h4>Name: {{user.name}}</h4>
                <h4>Surname: {{user.surname}}</h4>
                <h4>Email: {{user.email}}</h4>
                <h4>Role: {{user.role}}</h4>
                <h4 *ngIf="user.role!=='CLIENT'">Fee: {{user.fee}} € / photo</h4>

                <div *ngIf="user.profilePic!==''" class="form-group current-image-container">
                  <div class="current-image-label">
                    <label  class="control-label">Photo : </label>
                  </div>
                    <img  class="img-responsive user-image" src= "http://localhost:3000/{{user.profilePic}}">
                </div>

              <button class="btn btn-primary" (click)="editProfile()"> Edit profile </button>
              <button class="btn btn-danger" (click)="deleteProfile()" > Delete account </button>
            </div>
          </div>
        </div>
  </div><!-- row -->
</div><!-- container -->
<footer>
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6 footer-col">
  <div class="logofooter">Recent post</div>
  <p>Affogato hot chicken fingerstache pickled sriracha woke humblebrag stumptown, intelligentsia letterpress iceland raclette. Adaptogen poutine fashion axe leggings lo-fi trust fund.</p>
  <p><i class="fa fa-map-pin"></i> #4, Liliha Street, Honolulu, Hawaii, United States</p>
  <p><i class="fa fa-phone"></i> Phone : +1 808 999 999</p>
  <p><i class="fa fa-envelope"></i> E-mail : info@3dprofessionals.com</p>

</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">BLOG</h6>
    Lorem ipsum
    <hr>
    Lorem ipsum dolor
    <hr>
    Lorem ipsum
    <hr>
    Lorem ipsum dolor
    <hr>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">ARCHIVES</h6>
  <div class="post">
    <p>Raclette chambray neutra austin, normcore biodiesel 3 wolf moon heirloom selfies <span>May 30,2017</span></p>
    <p>Lo-fi pabst man bun hashtag pinterest, hell of lumbersexual af seitan pop-up church-key tattooed jianbing <span>May 29,2017</span></p>
    <p>Affogato brunch stumptown, butcher meh pok pok tattooed vice next level tacos church-key tofu swag <span>May 28,2017</span></p>
  </div>
</div>
<div class="col-md-3 col-sm-6 footer-col">
  <h6 class="heading7">Social Media</h6>
  <ul class="footer-social">
    <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
    <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
    <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
    <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
  </ul>
</div>
</div>
</div>
</footer>
