<nav class="navbar navbar-default dashboard-nav">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click) = "iscolapse= !iscolapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand professionals-brand"><span>3DProfessionals </span><i class="glyphicon glyphicon-copyright-mark"></i></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" [collapse]="iscolapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['login']">Login</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="goToDashboard()">Dashboard</a></li>
      <li *ngIf="this.session.isAuth"><a (click)="logout()">Logout</a></li>
      <li *ngIf="!this.session.isAuth"><a [routerLink]="['signup']">Signup</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container -->
</nav>
<div class="container-fluid">
      <div class="row profile-row">
<section *ngIf="user.role === 'PROFESSIONAL'">
        <div class="jumbotron banner">
          <div class="row profile-container">
            <div class="col-md-12 profile-info text-center">
                <h4>Name: {{user.name}}</h4>
                <h4>Surname: {{user.surname}}</h4>
                <h4>Email: {{user.email}}</h4>
                <h4>Role: {{user.role}}</h4>
                <h4 *ngIf="user.role!=='CLIENT'">Fee: {{user.fee}} € / photo</h4>

                <div *ngIf="user.profilePic!==''" class="form-group current-image-container">
                  <div class="current-image-label">
                    <label  class="control-label">Photo : </label>
                  </div>
                    <img  class="img-responsive user-image" src= "http://localhost:3000/{{user.profilePic}}">
                </div>

              <button class="btn btn-primary" (click)="editProfile()"> Edit profile </button>
              <button class="btn btn-danger" (click)="deleteProfile()" > Delete account </button>
            </div>
          </div>
        </div>
</section>
<section *ngIf="user.role === 'CLIENT'">
        <div class="jumbotron bannir">
          <div class="row profile-container">
            <div class="col-md-12 profile-info text-center">
                <h4>Name: {{user.name}}</h4>
                <h4>Surname: {{user.surname}}</h4>
                <h4>Email: {{user.email}}</h4>
                <h4>Role: {{user.role}}</h4>
                <h4 *ngIf="user.role!=='CLIENT'">Fee: {{user.fee}} € / photo</h4>

                <div *ngIf="user.profilePic!==''" class="form-group current-image-container">
                  <div class="current-image-label">
                    <label  class="control-label">Photo : </label>
                  </div>
                    <img  class="img-responsive user-image" src= "http://localhost:3000/{{user.profilePic}}">
                </div>

              <button class="btn btn-primary" (click)="editProfile()"> Edit profile </button>
              <button class="btn btn-danger" (click)="deleteProfile()" > Delete account </button>
            </div>
          </div>
        </div>
</section>

  </div><!-- row -->
</div><!-- container -->
